server:
  port: 80
spring:
  application:
    name: user-service
    port: 80
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://auth-service
          jwk-set-uri: http://auth-service/oauth2/jwks
  cache:
    type: redis
  data:
    redis:
      host: redis
      port: 6379
      ttl: 5
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://postgres:5432/user_service
    username: admin
    password: admin
  liquibase:
    enabled: true
    drop-first: false
    change-log: classpath:db/changelog-master.yaml
    default-schema: public
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show-sql: true

springdoc:
  swagger-ui:
    csrf:
      enabled: true
swagger-server: http://user-service:8080/