name: Run-CI
on:
  push:
    branches:
      - master
      - user-service
  pull_request:
    types: [ opened, synchronize, reopened ]
permissions:
  contents: write
env:
  SPRING_PROFILE: prod
jobs:
  build:
    name: Compile and build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Build-app
        run: mvn clean install -Dmaven.test.skip=true
  run-tests:
    needs: build
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Add host mapping
        run: sudo echo "127.0.0.1 auth-service" | sudo tee -a /etc/hosts
      - name: Add host mapping
        run: sudo echo "127.0.0.1 user-service" | sudo tee -a /etc/hosts
      - name: Run Integration Tests
        run: mvn --batch-mode -Dmaven.test.failure.ignore=true test
      - name: report
        uses: dorny/test-reporter@v2
        if: always()
        with:
            name: Maven Tests
            path: target/surefire-reports/*.xml
            reporter: java-junit
            fail-on-error: true
  sonar-validate:
    needs: run-tests
    name: Run sonarcube analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=alexander-banking -Dmaven.test.skip=true
  build-and-push:
    needs: sonar-validate
    name: Push image to docker registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
        if: github.event_name != 'pull_request'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Create Buildx builder
        run: |
          docker buildx create --name mybuilder --driver docker-container --use
          docker buildx inspect --bootstrap
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ secrets.DOCKER_USERNAME }}/work-repo:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
